streamlit==1.32.0
twilio==7.16.2
python-dotenv==1.0.1
langchain==0.1.11
groq==0.4.2
speechrecognition==3.10.1
gTTS==2.5.1
pydub==0.25.1
pandas==2.2.1
python-decouple==3.8
flask==3.0.2
pyngrok==7.0.5
requests==2.31.0 